# Clustering

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering

## Clustering the Zoo Dataset

In [2]:
path = "https://raw.githubusercontent.com/cs6220/cs6220.spring2019/master/data/zoo/"

names = pd.read_csv(path + "zoo.names", sep="\n", header=None)
parse_cols = lambda x: x.str.extract(r". ([a-z ]*)[	|:]", expand=False)
columns = parse_cols(names.iloc[38:56, 0])

df_zoo = pd.read_csv(path + "zoo.data", sep=",", header=None, index_col=False)
df_zoo.columns = columns
df_zoo.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

### 2.1 Agglomerative Clustering

#### Add a row with `animal name` 'human' to the dataset, with feature values representative of a typical person. `catsize` should be 1. You may decide the values for  `domestic` and `type`.

#### Train an agglomerative clustering model on the dataset, excluding the features `animal name`, `domestic`, and `type`. Set the number of clusters (`n_clusters`) equal to the number of unique `animal name` values.

#### Generate a dendrogram of the hierarchical clusters.

In [3]:
def plot_dendrogram(model, **kwargs):
    children = model.children_
    dist = np.arange(children.shape[0])+1
    n_obs = np.arange(2, children.shape[0]+2)
    linkage_matrix = np.column_stack([children, dist, n_obs])
    dendrogram(linkage_matrix.astype(float), **kwargs)

#### According to the dendrogram, what animal(s) are most similar to `human`?